.container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.text {
  margin-top: 15px;
  font-size: 25px;
}
