<div class="container">
    <div class="row" id="row">
      <div class="col-md-8 offset-md-2" id="center">
        <img src="../../assets/logo.png" class="logo">
        <nb-layout>
          <nb-layout-column>
            <nb-card>
              <nb-card-body>
                <nb-stepper orientation="horizontal">
                  <nb-step [label]="labelOne">
                    <ng-template #labelOne>First step</ng-template>
                    <h2>Choose a Profile Type</h2>
                    <div class="row">
                      <div class="col-sm-4">
                        Farmer
                      </div>
                      <div class="col-sm-4">
                        Buyer
                      </div>
                      <div class="col-sm-4">
                        Administrator (Admin Approval Required)
                      </div>
                    </div>
                    <button nbButton disabled nbStepperNext>prev</button>
                    <button nbButton nbStepperNext>next</button>
                  </nb-step>
                  <nb-step [label]="labelTwo">
                    <ng-template #labelTwo>Second step</ng-template>
                    <h2>Basic Information</h2>
                    <button nbButton nbStepperPrevious>prev</button>
                    <button nbButton nbStepperNext>next</button>
                  </nb-step>
                </nb-stepper>
              </nb-card-body>
            </nb-card>
          </nb-layout-column>
        </nb-layout>
      </div>
    </div>
  </div>