<nb-layout>
    <nb-sidebar>
        <nb-list>
          <nb-list-item *ngFor="let user of users | async">
                <router-outlet>
            <a routerLink="../chat-dashboard"><nb-user [name]="user.displayName" [title]="user.email"></nb-user></a>   
        </router-outlet> 
         </nb-list-item>
       </nb-list>
      
    </nb-sidebar>
    <nb-layout-column>
      <nb-card>
        <nb-card-body>
      
          
      
        </nb-card-body>
    </nb-card>
   
    <nb-chat size="large">
    
     
     
      
    </nb-chat>
    <nb-card>
      <nb-card-body>
        
      </nb-card-body>
    </nb-card>
  
    </nb-layout-column>
  
   </nb-layout>

   
