<nb-layout>
  <nb-sidebar>
      <nb-list>
         <!--<nb-list-item *ngFor="let user of users | async">
         <nb-user [name]="user.displayName" [title]="user.email"></nb-user> </nb-list-item>  -->
         <nb-list-item *ngFor="let user of users | async">   
           <button nbButton (click)="UserClicked(user)"><nb-user [name]="user.displayName" [title]="user.email" [picture]="user.photoURL"></nb-user></button>
       </nb-list-item>
     </nb-list>
  </nb-sidebar>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        
       <!-- </nb-user>
        <nb-user size="medium"
                 name="John Doe"
                 picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
        </nb-user>-->
        <nb-user [name]="selectedUser" [picture]="avatar"></nb-user> 
      </nb-card-body>
  </nb-card>
 
  <nb-chat size="large">
  
    <nb-chat-message *ngFor="let msg of messages | async"[type]="msg.text" [message]="msg.content" [date]="msg.date" [avatar]="msg.avatar">
  </nb-chat-message>
   
    <nb-chat-form (send)="addPost($event)" [dropFiles]="true">
     
    </nb-chat-form>
  </nb-chat>
  <nb-card>
    <nb-card-body>
      <nb-icon icon="mic-outline"></nb-icon>
      <nb-icon icon="attach-outline"></nb-icon>
    </nb-card-body>
  </nb-card>

  </nb-layout-column>

 </nb-layout>
 