<nb-layout>
  <nb-sidebar>
        
    <nb-search type="rotate-layout">Search Users</nb-search>
    <nb-list>
       <nb-list-item *ngFor="let user of users | async">
          <nb-user [name]="user.displayName" [title]="user.email">
          </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
    
        <nb-user size="medium"
                 name="John Doe"
                 picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
        </nb-user>
    
      </nb-card-body>
  </nb-card>
 
  <nb-chat size="large">
    <nb-chat-message *ngFor="let msg of messages"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.user.name"
                     [date]="msg.date"
                     [files]="msg.files"
                     [quote]="msg.quote"
                     [latitude]="msg.latitude"
                     [longitude]="msg.longitude"
                     [avatar]="msg.user.avatar">
    </nb-chat-message>
    <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
    </nb-chat-form>
  </nb-chat>
  <nb-card>
    <nb-card-body>
      <nb-icon icon="mic-outline"></nb-icon>
      <nb-icon icon="attach-outline"></nb-icon>
    </nb-card-body>
  </nb-card>

  </nb-layout-column>

 </nb-layout>
 