#row {
  margin-top: 10%;
}

#center {
  background: rgb(255, 255, 255, 0.7);
  height: 30em;
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
}

button {
  width: 50%;
  margin-top: 10px;
}

.btn-default {
  background-color: #fff;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
